name: Test typos action
on:
  push:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1  # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - uses: ./.github/actions/install-typos
    - run: typos README.md
