name: Deploy mdBook to GitHub pages

defaults:
  run:
    shell: bash --noprofile --norc -euxo pipefail {0}

on:
  workflow_call:
    inputs:
      deploy:
        type: boolean
        required: false
        default: true
      path:
        type: string
        required: false
        default: doc

jobs:
  doc:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - uses: peaceiris/actions-mdbook@v2  # zizmor: ignore[unpinned-uses] TODO
    - run: mdbook build
      working-directory: ${{ inputs.path }}
    - name: Upload docs artifact to GitHub Pages
      uses: actions/upload-pages-artifact@v4  # zizmor: ignore[unpinned-uses] TODO
      if: github.ref == 'refs/heads/main' &&
          github.event.pull_request.head.repo.fork == false &&
          github.repository_owner == 'langston-barrett'
      with:
        path: ${{ inputs.path }}/book/
    - name: Deploy docs to GitHub Pages
      uses: actions/deploy-pages@v4  # zizmor: ignore[unpinned-uses] TODO
      if: inputs.deploy &&
          github.ref == 'refs/heads/main' &&
          github.event.pull_request.head.repo.fork == false &&
          github.repository_owner == 'langston-barrett'
      id: deployment
