# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions#enabling-automerge-on-a-pull-request
name: Auto-merge Dependabot PRs

defaults:
  run:
    shell: bash --noprofile --norc -euxo pipefail {0}

on:
  workflow_call:
    inputs:
      merge-flags:
        description: Flags for `gh pr merge`
        type: string
        required: false
        default: --rebase
      only-patch:
        description: Only merge patch releases
        type: boolean
        required: false
        default: true

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' &&
        github.event.pull_request.head.repo.fork == false &&
        github.repository_owner == 'langston-barrett'
    # Default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 15
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Auto-merge Dependabot PRs
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || !inputs.only-patch
        run: gh pr merge --auto --delete-branch "${FLAGS}" "${PR_URL}"
        env:
          FLAGS: ${{ inputs.merge-flags }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
