name: Rust CI

defaults:
  run:
    shell: bash --noprofile --norc -euxo pipefail {0}

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      bench:
        description: Run `cargo bench`
        type: boolean
        required: false
        default: true
      cache-key-prefix:
        description: |
          Prefix to add to cache key(s).

          May be used to distinguish caches for multiple builds in the same repo.
          Can also be used to force a cache miss.
          Passed to Swatinem/rust-cache/prefix-key.
        type: string
        required: false
        default: ""
      cargo-flags:
        description: Flags to pass to `cargo`
        type: string
        required: false
        default: --locked
      cargo-test-flags:
        description: Flags to pass to `cargo test`
        type: string
        required: false
        default: ""
      fetch-depth:
        description: Number of commits to fetch. Passed to `actions/checkout`.
        type: number
        required: false
        default: 1
      os:
        description: |
          Runner OS, e.g., "ubuntu-latest".

          Set this to the value of `runs-on`, *not* `runner.os`.
        type: string
        required: true
      post-hook:
        description: Shell commands to execute after the rest of the workflow.
        type: string
        required: false
        default: ""
      pre-hook:
        description: |
          Shell commands to execute before the rest of the workflow.

          Runs immediately after `actions/checkout`.
        type: string
        required: false
        default: ""
      pre-test-hook:
        description: |
          Shell commands to execute before running `cargo test`.

          Useful for e.g., installing runtime dependencies for test-suites.
        type: string
        required: false
        default: ""
      rust:
        description: Rust toolchain, e.g., "stable" or "1.87"
        type: string
        required: false
        default: ""
      submodules:
        description: Whether to check out submodules. Passed to `actions/checkout`.
        type: string
        required: false
        default: "false"

# General commentary
# ------------------
#
# Steps that are less likely to fail should come later, because failing earlier
# saves time and resources.
#
# See https://github.com/rust-lang/cargo/issues/5656 for ideas
#
# TODO:
#
# - Integrate https://github.com/RalfJung/cargo-careful
# - Integrate https://github.com/taiki-e/cargo-hack?tab=readme-ov-file#from-prebuilt-binaries
jobs:
  ci:
    runs-on: ${{ inputs.os }}
    env:
      CARGO_FLAGS: ${{ inputs.cargo-flags }}
      CARGO_TERM_COLOR: always
      CARGO_TEST_FLAGS: ${{ inputs.cargo-test-flags }}
      # Optimization, see: https://matklad.github.io/2021/09/04/fast-rust-builds.html#CI-Workflow
      CARGO_INCREMENTAL: 0
      RUSTFLAGS: --deny warnings
      RUSTDOCFLAGS: --deny warnings
    # Default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 120
    steps:
    - uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses] TODO
      with:
        fetch-depth: ${{ inputs.fetch-depth }}
        # https://github.com/actions/checkout/issues/485
        persist-credentials: false
        submodules: ${{ inputs.submodules }}
    - name: Run pre-hook
      if: inputs.pre-hook != ''
      run: | # zizmor: ignore[template-injection] This is the whole point of the step
        ${{ inputs.pre-hook }}
    - run: rustup update ${RUST} && rustup default ${RUST}
      if: inputs.rust != ''
      env:
        RUST: ${{ inputs.rust }}
    - run: cargo fmt --all -- --check
    - run: cargo fetch ${CARGO_FLAGS}
    - run: rustup component add clippy
    - uses: Swatinem/rust-cache@v2  # zizmor: ignore[unpinned-uses] TODO
      with:
        prefix-key: ${{ inputs.cache-key-prefix }}
    - run: cargo clippy --all-targets --frozen ${CARGO_FLAGS} -- --deny warnings
    - run: cargo build --all-targets --frozen ${CARGO_FLAGS}
    - name: Run pre-test-hook
      if: inputs.pre-test-hook != ''
      run: | # zizmor: ignore[template-injection] This is the whole point of the step
        ${{ inputs.pre-test-hook }}
    - run: cargo test --frozen ${CARGO_FLAGS} -- ${CARGO_TEST_FLAGS}
    - run: cargo doc --examples --frozen --no-deps ${CARGO_FLAGS}
    - run: cargo bench --frozen ${CARGO_FLAGS}
      if: inputs.bench
    -
      name: Run post-hook
      if: inputs.post-hook != ''
      run: | # zizmor: ignore[template-injection] This is the whole point of the step
        ${{ inputs.post-hook }}
