name: Test release action
on:
  push:
    branches:
    - release*
    tags:
    - v*
  pull_request:
    paths:
    - ".github/workflows/rust-release.yml"
    - ".github/workflows/rust-release-test.yml"
  workflow_dispatch:

jobs:
  release:
    uses: ./.github/workflows/rust-release.yml
    permissions:
      contents: write
    secrets:
      crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
    with:
      publish: false
