name: Rust release

defaults:
  run:
    shell: bash --noprofile --norc -euxo pipefail {0}

on:
  workflow_call:
    inputs:
      publish:
        description: Publish to crates.io
        type: boolean
        required: false
        default: true
      publish-flags:
        description: Flags to `cargo publish`
        type: string
        required: false
        default: --workspace
    secrets:
      crates-io-token:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # Default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 120
    steps:
    - uses: actions/checkout@v6  # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false

    - uses: ncipollo/release-action@v1  # zizmor: ignore[unpinned-uses] TODO
      id: release
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      with:
        artifactErrorsFailBuild: true
        body: "See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md)."
        draft: true
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to crates.io
      env:
        CRATES_IO_TOKEN: ${{ secrets.crates-io-token }}
        FLAGS: ${{ inputs.publish-flags }}
        PUSH: ${{ startsWith(github.ref, 'refs/tags/v') && inputs.publish }}
      run: | # zizmor: ignore[use-trusted-publishing] TODO
        if [[ "${PUSH}" == true ]]; then
          cargo publish "${FLAGS}" --token="${CRATES_IO_TOKEN}"
        else
          cargo publish --dry-run "${FLAGS}" --token="${CRATES_IO_TOKEN}"
        fi

  # Inspired by rustfmt:
  # https://github.com/rust-lang/rustfmt/blob/master/.github/workflows/upload-assets.yml
  artifacts:
    needs: release
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    # Default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 120
    strategy:
      matrix:
        include:
          - build: linux-x86_64-gnu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - build: linux-x86_64-musl
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - build: macos-x86_64
            os: macos-latest
            target: x86_64-apple-darwin
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - run: rustup target add ${{ matrix.target }}
    - run: sudo apt-get install -y musl-tools
      if: matrix.target == 'x86_64-unknown-linux-musl'
    - run: cargo fetch
    - run: cargo build --bins --frozen --release --target="${TARGET}"
      env:
        TARGET: ${{ matrix.target }}
    - name: Collect binaries
      run: |
        mkdir -p bins/
        for f in target/${TARGET}/release/*; do
          if [[ -f "${f}" ]] && [[ -x "${f}" ]]; then
            bin=bins/"$(basename "${f}")-${TARGET}"
            cp "${f}" "${bin}"
            gzip --best "${bin}"
          fi
        done
      env:
        TARGET: ${{ matrix.target }}
    - name: Upload binaries
      uses: ncipollo/release-action@v1  # zizmor: ignore[unpinned-uses] TODO
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      with:
        allowUpdates: true
        artifactErrorsFailBuild: true
        replacesArtifacts: false
        artifacts: bins/*
        body: "See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md)."
        draft: true
        token: ${{ secrets.GITHUB_TOKEN }}
